iframe {
  border-radius: 10px;
}
button {
  cursor: pointer;
  padding: 10px;
  border-color: rgb(110, 110, 237);;
  background-color: rgb(110, 110, 237);
  color: white;
  border-radius: 10px;
}
a {
  margin-bottom: 100px;
  display: grid;
  justify-items: center;
}
p {
  padding: 0px 1vw;
  text-align: center;
}
#info-content {
  padding: 30px 20px;
}
#html-title {
  text-align: center;
  color: orange;
}
#css-title {
  text-align: center;
  color: rgb(60, 60, 254);
}
#javascript-title {
  text-align: center;
  color: green;
}
#html-content {
  display: grid;
  border-radius: 10px;
  border: 3px solid orange;
  justify-items: center;
  align-items: center;
  grid-template-columns: 30% 70%;
  padding: 20px;
  margin-bottom: 50px;
  height: 400px;
}
#css-content {
  display: grid;
  border-radius: 10px;
  border: 3px solid rgb(60, 60, 254);
  justify-items: center;
  align-items: center;
  grid-template-columns: 30% 70%;
  padding: 20px;
  margin-bottom: 50px;
  height: 400px;
}
#javascript-content {
  display: grid;
  border-radius: 10px;
  border: 3px solid green;
  justify-items: center;
  align-items: center;
  grid-template-columns: 30% 70%;
  padding: 20px;
  margin-bottom: 50px;
  height: 400px;
}